@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Museo Sans light', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1170px;
  width: 96%;
  margin: auto;
}

@media (max-width: 640px) {
  .container {
    width: 90%;
  }
}

.button {
  background-color: #ffd200;
  color: #333;
  border: none;
  border-radius: 10px;
  padding: 18px 47px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.button:hover {
  background-color: #e6bd00;
  cursor: pointer;
}

.input {
  border: 1px solid #dddddd;
  padding: 25px;
  border-radius: 10px;
  font-size: 15px;
  padding: 20px 25px;
}

.section-title {
  font-size: 30px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-align: center;
  line-height: 45px;
}

.section-subtitle {
  color: #000;
  font-size: 20px;
  text-align: center;
  display: block;
  font-weight: 400;
}

.header {
  padding: 20px 0;
}

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 640px) {
  .header__contacts {
    display: none;
  }
}

.header__address {
  font-size: 13px;
  font-weight: 400;
  color: #333;
}

.header__phone {
  font-size: 20px;
  font-weight: 400;
  color: #333;
  display: block;
  text-decoration: none;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  margin-top: 5px;
}

.header__button {
  margin-left: 30px;
  font-size: 13px;
}

.main {
  background-color: #f5f5f5;
}

.main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0 15px 0;
}

@media (max-width: 1200px) {
  .main-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main-image {
  margin-right: -55px;
}

@media (max-width: 1200px) {
  .main-image {
    width: 100%;
  }
}

.main-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media (max-width: 1200px) {
  .main-text {
    margin-bottom: 30px;
  }
}

.main-text__title {
  font-size: 41px;
  color: #333;
  padding-right: 200px;
  line-height: 55px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  margin: 45px 0 20px 0;
}

@media (max-width: 1200px) {
  .main-text__title {
    padding-right: 10px;
  }
}

@media (max-width: 640px) {
  .main-text__title {
    line-height: 1.4;
    font-size: 30px;
  }
}

.main-text__subtitle {
  font-size: 20px;
  color: #333;
  line-height: 65px;
}

@media (max-width: 640px) {
  .main-text__subtitle {
    line-height: 1.4;
    font-size: 16px;
  }
}

.main-list {
  margin: 40px 0 0 0;
  padding: 0 0 0 0;
}

@media (max-width: 640px) {
  .main-list {
    margin: 30px 0 0 0;
  }
}

.main-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.main-list__item:last-child {
  margin-bottom: 0;
}

@media (max-width: 640px) {
  .main-list__item {
    margin-bottom: 15px;
  }
}

.main-list__image {
  margin-right: 30px;
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-list__text {
  font-size: 14px;
  color: #333;
  line-height: 24px;
  max-width: 300px;
}

@media (max-width: 640px) {
  .main-list__text {
    font-size: 12px;
    max-width: 250px;
  }
}

.offer {
  padding: 90px 0;
  background: url("../img/offer-bg.jpg") no-repeat;
  background-position: center right;
  background-size: contain;
  position: relative;
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #fff;
  }
}

.offer:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
}

.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}

@media (max-width: 768px) {
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
}

.offer-title {
  font-size: 24px;
  line-height: 35px;
  max-width: 350px;
  margin-bottom: 25px;
  color: #333;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.offer-subtitle {
  display: inline-block;
  font-size: 14px;
  max-width: 260px;
  margin-bottom: 30px;
  color: #333;
}

.offer__input {
  margin-bottom: 30px;
  width: 240px;
}

@media (max-width: 1200px) {
  .offer__input {
    width: 100%;
    margin-bottom: 15px;
  }
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__button {
  width: 100%;
  min-height: 70px;
}

@media (max-width: 1200px) {
  .offer__button {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .offer__button {
    font-size: 16px;
  }
}

.offer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 20px;
}

@media (max-width: 1100px) {
  .offer__info {
    display: block;
  }
}

.offer__call {
  text-decoration: none;
  font-size: 15px;
  color: #333;
  line-height: 24px;
  width: 200px;
  height: 39px;
  padding-top: 26px;
}

.offer__call:first-child {
  padding-right: 25px;
}

@media (max-width: 1100px) {
  .offer__call {
    line-height: 20px;
  }
  .offer__call:first-child {
    padding-bottom: 25px;
  }
}

.number {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.arrows {
  max-width: 150px;
}

.portfolio {
  background: #f5f5f5 url("../img/background.png") left repeat-y;
  background-size: 50%;
  padding-bottom: 45px;
}

.portfolio__title {
  margin-bottom: 100px;
  color: #333;
}

.portfolio__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 50px;
}

.arrows__left {
  margin-right: 35px;
}

.arrows__left, .arrows__right {
  cursor: pointer;
}

.slider__item {
  max-width: 300px;
  max-height: 180px;
}

.slider__image {
  margin: auto;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-height: 200px;
  background-color: #fff;
  padding: 40px;
  position: relative;
}

.modal-dialog__close {
  position: absolute;
  right: 0;
  top: 0;
}

.modal-dialog__title {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 25px;
}

.price {
  padding: 100px 0;
}

.price__title {
  margin-bottom: 60px;
}

.price__subtitle {
  margin-bottom: 60px;
}

.price__card {
  margin-bottom: 30px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1200px) {
  .cards {
    display: block;
  }
}

.card {
  text-align: center;
  border: 1px solid #e8e8e8;
  -webkit-transition: .2s;
  transition: .2s;
}

@media (max-width: 1200px) {
  .card {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 75%;
  }
}

@media (max-width: 1025px) {
  .card {
    display: block;
    margin: auto;
    width: 75%;
  }
}

@media (max-width: 650px) {
  .card {
    display: block;
    margin: auto;
  }
}

.card:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}

.card:hover .card__image::before {
  opacity: 1;
}

.card__text {
  padding: 40px;
}

@media (max-width: 1200px) {
  .card__text {
    margin: auto;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.card__image {
  position: relative;
}

.card__image img {
  display: block;
}

@media (max-width: 1025px) {
  .card__image img {
    display: block;
    margin: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 650px) {
  .card__image img {
    display: block;
    margin: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.card__image::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  -webkit-transition: .2s;
  transition: .2s;
}

.card__title {
  margin-top: 0;
  font-size: 18px;
  color: #000;
  margin-bottom: 30px;
}

.card__link {
  display: inline-block;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #333;
  position: relative;
}

.card__link:hover::after {
  height: 13px;
}

.card__link::after {
  content: '';
  display: block;
  position: absolute;
  -webkit-transition: .2s;
  transition: .2s;
  z-index: -1;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ffd200;
}

.steps {
  padding-bottom: 120px;
}

.steps__title {
  margin-bottom: 60px;
}

@media (max-width: 1024px) {
  .steps__title {
    margin-bottom: 20px;
  }
}

.steps__subtitle {
  margin-bottom: 75px;
}

@media (max-width: 1024px) {
  .steps__subtitle {
    margin-bottom: 45px;
  }
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .icons {
    display: block;
  }
}

.icon {
  text-align: center;
  position: relative;
}

.icon:last-child::after {
  display: none;
}

.icon::after {
  content: '';
  top: -10px;
  right: -90px;
  position: absolute;
  display: block;
  width: 75px;
  height: 25px;
  background-image: url("../img/arrow1.jpg");
}

@media (max-width: 1024px) {
  .icon::after {
    display: none;
  }
}

.icon__image {
  width: 100px;
  height: 100px;
  margin: auto;
  border: 3px solid #ffd200;
  background-color: #fff;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.icon__image img {
  width: 30px;
  height: 30px;
  display: inline-block;
}

.icon__text {
  max-width: 140px;
  display: inline-block;
  font-size: 14px;
}

.notice {
  background-color: #ffc000;
  padding: 100px 0;
}

.notice__text {
  text-align: center;
  font-size: 32px;
  max-width: 750px;
  margin: auto;
  line-height: 50px;
  font-weight: 300;
}

.info {
  padding: 100px 0;
}

.info__block {
  margin-bottom: 150px;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1290px) {
  .benefits {
    display: block;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.benefit {
  background-color: #f7f7f7;
  height: 410px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 370px;
  position: relative;
  text-align: center;
}

@media (max-width: 1290px) {
  .benefit {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
  }
}

.benefit__image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 250px;
}

.benefit__text {
  margin: 50px 34px 0 32px;
  font-size: 16px;
  line-height: 23px;
}

.benefit__text strong {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 1290px) {
  .benefit__text {
    margin: 12%;
    display: inline-block;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.documents__title {
  margin-bottom: 100px;
}

@media (max-width: 1290px) {
  .documents__title {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.documents-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1290px) {
  .documents-block {
    display: inline-block;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 29%;
    margin-top: 40px;
  }
}

.documents-block__text {
  text-align: center;
  margin-top: 40px;
  line-height: 24px;
  font-size: 18px;
}

.documents-block__image {
  height: 250px;
  width: 370px;
}

@media (max-width: 1290px) {
  .documents-block__image {
    margin-top: 61px;
    margin-bottom: -26px;
  }
}
/*# sourceMappingURL=style.css.map */